<nav class="navbar navbar-expand-lg sticky-top" data-bs-theme="dark">
    
	<a class="navbar-toggler border-0 px-0" href="#" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<i class="bi-list h2"></i>
	</a>
	<div class="collapse navbar-collapse h2 text-uppercase fw-bold" id="navbarNavAltMarkup" style="letter-spacing: 4px;">
		
		<div class="navbar-nav">
			<a class="ps-0 nav-link" id="apaulture" href="">apaulture</a>
			<a class="nav-link" id="fullstack" href="">fullstack</a>
			<a class="nav-link" id="devops" href="">devops</a>
			<a class="nav-link" id="ui＋ux" href="">ui＋ux</a>
		</div>
	</div>
</nav>

<hr class="border border-light opacity-100 mt-0" />