{% extends 'base.html' %}

{% block title %}Apaulture{% endblock title %}

{% block content %}
    <div class="text-light user-select-none">
        <div class="position-absolute top-50 start-50 translate-middle text-center">
            <h1 class="text-uppercase mx-4"><span style="letter-spacing: 15px;">apaultur</span>e</h1>
            <hr>
            <span class="text-apaulture" style="opacity: 0.85;" id="principle">{{ principle }}</span>
        </div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x text-center mb-4" style="font-size: 1.4rem;">
            <div class="container px-4 py-2 text-center rounded-pill" style="background-color: rgba(255,255,255,0.1)">
                <div class="row gx-4">
                    <div class="col">
                        <a href="https://github.com/Apaulture" class="link-apaulture" target="_blank" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="GitHub" data-bs-placement="top" data-bs-offset="0,23">
                            <i class="bi-github"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/apaulture/" class="link-apaulture" target="_blank" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="LinkedIn" data-bs-placement="top" data-bs-offset="0,23">
                            <i class="bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <i class="bi-three-dots opacity-50"></i>
        </div>
    </div>
{% endblock content %}