{% extends 'contexts/page.html' %}
{% load static %}

{% block body %}
	<div class="body">
		<h4 class="section-title">why design</h4>
		<p class="mt-3">
			<img class="rounded opacity-75" src="{% static 'images/new-foundation.png' %}" style="max-width: 100%;" />
		</p>
	
		<p>To design, is to acknowledge the inherent flaws in us.</p>
	
		<p>
			Globalization and therefore, diversity, has brought us the enablement of freedom of thought and expression.
			These freedoms allowed us to learn the advantages and disadvantages of our genetic makeup and upbringing.
			They also have allowed us to form into shapes, some parts rough and some parts smooth.
			Most importantly, they enable in us the capacity of identity.
		</p>
	
		<p>But what is identity, and how does it benefit humanity as a whole?</p>
	
		<p>
			Advances made in civilization stems from the specialization in trades.
			Through the focused effort of an individual on finding a new solution to a domain-specific problem can advances be made.
			Not all problems, however, are of equal size. Larger problems are solved by many, and rarely, by one.
			Larger problems also tend to be more complex in nature, requiring an abundance of perspectives in a resource-finite world.
		</p>
		
		<p>So how do we allow groups of people of different perspectives to collaborate effectively?</p>
		
		<p>
			Shared understanding is an iterative process in which we use communication as a facilitator to align and refine how we interface.
			If measured quantitatively on a scale of zero to one, shared understanding is a non-constant non-zero value that never reaches one.
			Each time an individual joins or leaves a group, the value changes in either direction, dependent on how well the individual “fits” into the group.
			Each second an individual strays outside the group also contributes to the reduction of this value.
		</p>
	
		<p>Then how can we prolong shared understanding?</p>
	
		<p>
				Design is the implementation of structure which sustains shared understanding.
				Languages of physical, sensory, and verbal forms enable communication between living and nonliving things. In combination with the discovery of paper and ink do we have the means to persist knowledge through time, defying our biological flaws. As languages and civilizations evolve, so do our obligations to maintain their underlying structures.
				Therefore, the responsibility lies with those of us privileged enough to meet these obligations.
		</p>
	</div>
{% endblock body %}