{% extends 'base.html' %}

{% block title %}Apaulture{% endblock title %}

{% block content %}
    <!-- Nav -->
    <div id="snellen-container" class="position-absolute top-50 start-50 translate-middle border border-2 border-light text-center text-uppercase pt-4">
        <div class="w-auto">
            {% with nav_classes="nav-focus text-light mb-4" %}
                <h1 class="fw-bold {{ nav_classes }}">apaulture</h1><br />
                <h2 class="{{ nav_classes }}">fullstack</h2><br />
                <h3 class="{{ nav_classes }}">devops</h3><br />
                <h4 class="{{ nav_classes }}">ui＋ux</h4>
            {% endwith %}
        </div>
    </div>

    <footer class="position-absolute bottom-0 start-50 translate-middle-x mb-3" style="font-size: 1.4rem;">
        <div class="row gx-4">
            <div class="col">
                <a href="https://github.com/Apaulture" class="link-light" target="_blank">
                    <i class="bi-github"></i>
                </a>
            </div>
            <div class="col">
                <a href="https://www.linkedin.com/in/apaulture/" class="link-light" target="_blank">
                    <i class="bi-linkedin"></i>
                </a>
            </div>
        </div>
    </footer>

    <script>
        function magnificationHandler(event) {
            let element = $(this);
            let entering = event.type == "mouseenter";
            var blurRadius = entering ? 4.0 : 0.0;
            
            let blurInterval = setInterval(function(){                
                element.css("text-shadow", `0 0 ${blurRadius}px rgba(255,255,255,1)`);
                
                if (entering) {
                    blurRadius -= 0.1;
                    if (blurRadius <= 0.0) {
                        element.css("color", "");
                        clearInterval(blurInterval);
                    }
                } else {
                    blurRadius += 0.1;
                    if (blurRadius >= 4.0) {
                        element.css("color", "transparent");
                        clearInterval(blurInterval);
                    }
                }
            }, 4);
        }

        $(".nav-focus").hover(magnificationHandler);
        $(".nav-focus").on("click", function() {
            let element = $(this);
        })
        
    </script>
{% endblock content %}