{% extends 'contexts/base.html' %}
{% load static %}
{% block title %}Apaulture{% endblock title %}

{% block content %}
	<!-- Nav -->
	<div id="snellen-container" class="position-absolute top-50 start-50 translate-middle border border-2 border-light text-center text-uppercase">
		{% with nav_classes="main-nav nav-focus mb-4" %}
			<a class="{{ nav_classes }} h1 fw-bold mt-4">apaulture</a><br />
			<a class="{{ nav_classes }} h2">fullstack</a><br />
			<a class="{{ nav_classes }} h3">devops</a><br />
			<a class="{{ nav_classes }} h4">ui＋ux</a>
		{% endwith %}
	</div>

	<script src="{% static 'js/deps/jquery-3.7.0.min.js' %}"></script>
	<script src="{% static 'js/functions/effects.js' %}"></script>
	<script>
		$(".nav-focus").hover(magnificationHandler);

		$(".main-nav").on("click", function(e) {
			$(".main-nav").off();

			let navs = document.querySelectorAll(".main-nav");
			let navContainer = document.getElementById("snellen-container");
			let postClickFadeDelay = 1500;
			navContainer.style.transition = `all ${postClickFadeDelay / 1000}s ease-in`;

			// Modify height
			let promise = new Promise((resolve) => {
				navContainer.style.height = `${navContainer.offsetHeight}px`;
				setTimeout(resolve, 10);
			})
			promise.then(() => {
				navContainer.style.height = "1px";
				setTimeout(() => {
					navContainer.style.transition = "";
					$(navContainer).fadeOut();

					// Render page
					let page = $(this).text();
					$.get(`ajax/${page}/`)
					.done(response => {
						$("div.container").html(response).hide().fadeIn();
						$(`.navbar a.nav-link#${page}`).addClass("active");
					});
				}, postClickFadeDelay + 10);
			});

			// Fade out navigation items
			for (let i = 0; i < navs.length; i++) {
				let reversedIndex = navs.length - 1 - i;
				setTimeout(() => {
					$(navs[i]).fadeOut();
				}, postClickFadeDelay / 5 * reversedIndex)
			}
		})
	</script>
{% endblock content %}