{% extends 'contexts/page.html' %}
{% load static %}

{% block body %}
	<div class="body">
		<!-- INDUS -->
		<div class="mb-5">
			<div class="d-flex justify-content-between">
				<h5>indus</h5>
				<h5>2023 - 2024</h5>
			</div>
			<p>
				Engineered and designed a data center infrastructure management (DCIM) web application, enabling drafters and reviewers to manage and validate over 3300 data center parts, build assets and connections, and generate AutoCAD installation drawings for NAVWAR's PMW 790 shore installation/integration efforts.
			</p>

			<div id="indusCarousel" class="carousel slide my-3">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{% static 'images/indus-portfolio/login.png' %}" class="d-block w-100" alt="indus-login">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/indus-portfolio/parts-catalog.png' %}" class="d-block w-100" alt="indus-parts-catalog">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/indus-portfolio/new-part.png' %}" class="d-block w-100" alt="indus-new-part">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/indus-portfolio/part-detail.png' %}" class="d-block w-100" alt="indus-part-detail">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/indus-portfolio/projects.png' %}" class="d-block w-100" alt="indus-projects">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/indus-portfolio/existing.png' %}" class="d-block w-100" alt="indus-existing">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/indus-portfolio/connections.png' %}" class="d-block w-100" alt="indus-connections">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/indus-portfolio/connection-form.png' %}" class="d-block w-100" alt="indus-connection-form">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#indusCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#indusCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>

		<!-- NAVAIR -->
		<div>
			<div class="d-flex justify-content-between">
				<h5>navair</h5>
				<h5>2020 - 2023</h5>
			</div>
			<p>
				Led a team of five engineers to kickstart Greenfield development on a now deployed portal application serving over 40 users spanned across six calibration laboratories, shipping, finance, quality control, personnel administration, and managerial departments at NAVAIR's Navy Primary Standards Laboratory.
			</p>

			<div id="npslCarousel" class="carousel slide my-3">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{% static 'images/npsl-portfolio/login.png' %}" class="d-block w-100" alt="npsl-login">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/npsl-portfolio/workload-dashboard.png' %}" class="d-block w-100" alt="npsl-workload-dashboard">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/npsl-portfolio/workload-lookup.png' %}" class="d-block w-100" alt="npsl-workload-lookup">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#npslCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#npslCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

			<p>
				Portal has enabled the creation, processing, and pdf generation of GFIs including but not limited to funding documents, DD1149, and meter cards.
			</p>

			<p>
				Special thanks to <a class="link-light" href="https://www.linkedin.com/in/kevinlaumechengineer/" target="_blank">Kevin Lau</a>, <a class="link-light" href="https://www.linkedin.com/in/naomi-navarro/" target="_blank">Naomi Navarro</a>, Dennis Santos, <a class="link-light" href="https://www.linkedin.com/in/erikaabate15/" target="_blank">Erika Abate</a>, and the concerted effort of leadership at the Navy Primary Standards Laboratory.
			</p>
		</div>
	</div>
{% endblock body %}