{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        <link href="{% static 'bs/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
        
    </head>
    <body class="bg-apaulture">
        {% block content %}{% endblock content %}

        <script src="{% static 'bs/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'jquery-3.7.0.min.js' %}"></script>
        <script>
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

            $(document).ready(() => {
                $("#principle").hide().fadeIn("fast");
            });
        </script>
    </body>
</html>